h1{
    color: rgb(249, 249, 252);
    background: rgb(255, 52, 86);
}
h2{
    color: rgb(250, 244, 244);
    background: pink;
    border: 2px solid green;
}
body{
    background: rgb(204, 198, 198);
    color: red;
}
div{
    color: rgb(22, 27, 13);
    background: rgb(214, 206, 206);
}
